/*
* @Author: asusaa
* @Date:   2018-08-13 09:08:02
* @Last Modified by:   asusaa
* @Last Modified time: 2018-08-13 17:12:49
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "苹方";
	/*text-decoration: none;*/
}
