*{
    font-family: "微软雅黑";
}
a{
    color:black;
    text-decoration: none;
}
/*标题样式*/
.title{
    width: 100%;
    display: flex;

    justify-content: center;
}
.title .bigBox{
    width: 1200px;
    display: flex;

}
.title .bigBox .icon{
    width: 50px;
    height: 50px;
    background-color: pink;
}

.title .box1{
    width: 300px;
    height: 80px;
    background-color:blue;
}
.title .box1 img{
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px auto 8px;
}

.title .bigBox .box2{
    padding:0 22px;

}
.title .bigBox .box2 h4{
    margin-top:17px;
    font-size: 16px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.title .bigBox .box2 p{
    font-size: 12px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    color: rgba(0,0,0,0.6);
}

/*banner*/


/*banner*/
.swiper-container {
    width: 100%;

}
.banner{
    width: 100%;

    /*background-image: url('../image/one-banner1.jpg');*/
    /*background-size: cover;*/
    /*background-position: center;*/
}
.banner img{
    width: 100%;
    height: auto;
}

.banner .con{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.banner .con h1{
    text-align: center;
    font-size:75px;
}

.banner .con h3{
    text-align: center;
    font-size: 34px;

}
.banner .con .box{
    width: 128px;
    height: 52px;
    margin: 0 auto;
    border: 1px solid white;
    text-align: center;
    line-height: 52px;
    font-size: 28px;
    margin-top: 20px;
}


/*设计师*/
.designer{
    overflow:hidden;
    width: 1200px;
    margin: 40px auto 0;
    height: 500px;

}

.designer .img{
    height: 500px;
    background-image: url("../image/one-designer-1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.designer .text{
    padding: 60px;
    height: 100%;
    border: 1px solid rgba(0,0,0,0.2);
}
.designer .text img{
    display: block;
    margin:0 auto;
    width: 100%;
    height: auto;

}
.designer .text dl{
    margin-top: 20px;
}
.designer .text dt{
    text-align: center;
    font-size: 24px;
    line-height: 26px;

}
.designer .text dd{
    text-align: center;
    font-size: 14px;
    line-height: 26px;

}
.designer .text p{
    margin-top: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;

}

.con{
    padding:80px 0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.con .line{
    width: 96px;
    height: 1px;
    border-top: 1px solid black;
    /*margin-top: 15px;*/
    /*margin-bottom: 15px;*/
}
.con p{
    color: rgba(0,0,0,0.4);
}
/*案例展示*/
.imgbox{
    width: 1200px;
    margin: 0 auto;
    padding-bottom:25% ;
    background-image: url(../image/3-anli-1.jpg);
    background-size: cover;
    background-position:center;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;

}
.anlib .imgbox:nth-child(2){
    background-image: url(../image/3-anli-2.jpg);

}
.anlib .imgbox:nth-child(3){
    background-image: url(../image/3-anli-3.jpg);

}
.anlib .imgbox:nth-child(4){
    background-image: url(../image/3-anli-4.jpg);

}
.anlib .imgbox:nth-child(5){
    background-image: url(../image/3-anli-5.jpg);

}
.anlib .imgbox:nth-child(11){
    background-image: url(../image/3-anli-10.jpg);

}
.anlib .imgbox:nth-child(7){
    background-image: url(../image/3-anli-7.jpg);

}
.anlib .imgbox:nth-child(8){
    background-image: url(../image/3-anli-8.jpg);

}
.anlib .imgbox:nth-child(9){
    background-image: url(../image/3-anli-9.jpg);

}

.imgbox .text{
    width: 440px;
    height: 135px;
    background: rgba(255,255,255,0.6);
    position: absolute;
    left: 30px;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.imgbox .line{
    width: 96px;
    height: 1px;
    border-top: 1px solid black;
    /*margin-top: 15px;*/
    /*margin-bottom: 15px;*/
}
.imgbox p{
    color: rgba(0,0,0,0.8);
    text-align: center;

}

.anbox h2{
    text-align: center;
    font-size: 18px;
    color: rgba(0,0,0,0.8);
    margin-top:5px;


}
.anbox p{
    text-align: center;
    color: rgba(0,0,0,0.6);

}


/*预约*/
.bespeak{
    width: 1200px;
    margin: 40px auto 0;
    border-top: 1px solid rgba(0,0,0,0.2);
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.bespeak .box{
    width: 33.33%;
}

.bespeak .box1 input:nth-child(2){
    margin-top:20px ;

}
.bespeak .box1 button{
    width: 160px;
    height: 36px;
    color:white;
    margin-top:20px ;
    background-color: red;
    font-size: 20px;
    border: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.4);
}
.bespeak .box1 select{
    display: block;
    margin-top:20px ;

}

.bespeak .leftbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bespeak .leftbox img{
    width: 37.5%;
    height: auto ;
}
.bespeak .leftbox p{
    color: rgba(0,0,0,0.4);
}

.bespeak .leftbox .gg{
    width: 20%;
    height: 1px;
    margin-top: 20px;
    border:1px solid  rgba(0,0,0,0.4);
}

.bespeak .rightbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bespeak .rightbox img{
    width: 50%;
    height: auto;

}
.bespeak .rightbox p{
    color: rgba(0,0,0,0.4);
}

/*底部*/
.bottom{
    width:100%;
    padding:32px 16px 0 ;
    background-color: #333333;

}
.bottom ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%  ;
    justify-content: center;
    border-bottom: 1px solid white;
    padding-bottom: 20px;

}

.bottom ul li{
    width: 20%  ;
    color: white;
    padding:0 16px ;

}
.bottom ul li h2{
    font-size: 20px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.bottom ul li p{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;

}

.bottom .box{
    color: white;
    text-align: center;
    padding: 5px;

}



































/*小小瓶*/
@media screen and (min-width:0px){
    .title .bigBox{
        background-color: blue;
        justify-content: space-between;
        align-items: center;

    }
    .title .box1 img{
        margin-left: 12px;
    }

    .title .bigBox .icon{
        display: block;
    }

    .title .bigBox .box2{
        display: none;
    }

    /*banner*/
    .banner .con h1{

        font-size:24px;
    }

    .banner .con h3{

        font-size:16px;
    }

    .banner .con .box{

        font-size: 24px;

    }
    /*设计师*/
    .designer{
        width: 100%;

    }

    .designer .text img{

        width: 300px;
        height: auto;

    }


    /*<!--案例展示-->*/
    .imgbox{
        width: 100%;

    }

    /*经典案例*/
    .imgbox .text{
        display: none;
    }

    .anbox{
        display: block;
    }


    /*预约*/

    .bespeak{
        width: 100%;

    }


    .bespeak .box{
        width:100%;
    }


    /*底部*/
    .bottom ul li{
        width: 100%  ;


    }


}



/* 平板:小屏幕 col-sm-   >768px */
@media screen and (min-width:768px){
    .title .bigBox{
        background-color: white;

    }
    .title .box1 img{
        margin:8px auto 8px;
    }
    .title .bigBox{
        width: 100%;
    }
    .title .bigBox .box2{
        padding:0 10px;

    }
    .title .bigBox .icon{
        display: none;
    }
    .title .bigBox .box2{
        display: block;
    }

    /*banner*/
    /*.banner {*/

        /*height: 400px;*/
    /*}*/

    /*banner*/
    .banner .con h1{

        font-size:72px;
    }

    .banner .con h3{

        font-size:34px;
    }

    .banner .con .box{

        font-size: 28px;

    }


    .designer .text img{

        width: 100%;
        height: auto;

    }
    /*经典案例*/
    .imgbox .text{
        display: flex;
    }

    .anbox{
        display: none;
    }


    /*预约*/
    .bespeak .box{
        width: 33.33%;
    }

    /*底部*/
    .bottom ul li{
        width: 20%  ;


    }







}


/* PC屏幕:普通屏幕 col-md-   >992px */
@media screen and (min-width:992px){
    .title .bigBox{
        width: 100%;
    }
    .title .bigBox .box2{
        padding:0 10px;

    }

    /*!*banner*!*/
    /*.banner {*/

        /*height: 525px;*/
    /*}*/

}










/* PC屏幕:普通屏幕 col-lg-   >1200px */
@media screen and (min-width:1200px){
    .title .bigBox{
        width: 1200px;
        display: flex;

    }
    .title .bigBox .box2{
        padding:0 22px;

    }

    /*banner*/
    .banner {

        height: 650px;
    }

    .designer{

        width: 1200px;

    }

    /*<!--案例展示-->*/
        .imgbox{
            width: 1200px;

        }


    /*预约*/
    .bespeak{
        width: 1200px;

    }






}
