*{
    font-family: "微软雅黑";
}
a{
    color:black;
    text-decoration: none;
}
/*标题样式*/
.title{
    width: 100%;
    display: flex;

    justify-content: center;
}
.title .bigBox{
    width: 1200px;
    display: flex;

}
.title .bigBox .icon{
    width: 50px;
    height: 50px;
    background-color: pink;
}

.title .box1{
    width: 300px;
    height: 80px;
    background-color:blue;
}
.title .box1 img{
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px auto 8px;
}

.title .bigBox .box2{
    padding:0 22px;

}
.title .bigBox .box2 h4{
    margin-top:17px;
    font-size: 16px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.title .bigBox .box2 p{
    font-size: 12px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    color: rgba(0,0,0,0.6);
}

/*导航标题*/
.texttitle{
    width: 1200px;
    margin: 32px auto  29px;
    color: #333;
    font-size: 14px;
}


/*图片内容*/
.imgBox{
    width: 1200px;
    margin: 0px auto ;
    /*display: flex;*/
    font-size: 14px;
    position: relative;
}

.imgBox .leftbox{
    float: left;
    width: 180px;
    /*height: 400px;*/
    border: 1px solid rgba(0,0,0,0.2);

}
.imgBox .leftbox dl dt{
    font-size: 16px;
    border-bottom:1px solid rgba(0,0,0,0.2) ;
    font-weight: normal;
    padding-left: 30px;
    line-height: 40px;
 }

.imgBox .leftbox dl dd{
    font-size: 14px;
    text-align: center;
    line-height: 40px;
}

.imgBox .rightbox{
    float: left;
    width: calc(100% - 180px);
    position: absolute;
    top: 0;
    left: 180px;

}
.imgBox .null{
    width: calc(100% - 180px);
    padding-bottom: 70%;
}
.imgBox .rightbox ul{
    width: 100%;
    display: flex;;
    flex-wrap: wrap;
    justify-content: space-around;

}
.imgBox .rightbox ul li{
    width: 22%;
}
.imgBox .rightbox ul li img{
    width: 100%;
}

.imgBox .rightbox ul li .text{
    font-size: 14px;
    text-align: center;
    line-height: 20px;
}







/*预约*/
.bespeak{
    width: 1200px;
    margin: 40px auto 0;
    border-top: 1px solid rgba(0,0,0,0.2);
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.bespeak .box{
    width: 33.33%;
}

.bespeak .box1 input:nth-child(2){
    margin-top:20px ;

}
.bespeak .box1 button{
    width: 160px;
    height: 36px;
    color:white;
    margin-top:20px ;
    background-color: red;
    font-size: 20px;
    border: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.4);
}
.bespeak .box1 select{
    display: block;
    margin-top:20px ;

}

.bespeak .leftbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bespeak .leftbox img{
    width: 37.5%;
    height: auto ;
}
.bespeak .leftbox p{
    color: rgba(0,0,0,0.4);
}

.bespeak .leftbox .gg{
    width: 20%;
    height: 1px;
    margin-top: 20px;
    border:1px solid  rgba(0,0,0,0.4);
}

.bespeak .rightbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bespeak .rightbox img{
    width: 50%;
    height: auto;

}
.bespeak .rightbox p{
    color: rgba(0,0,0,0.4);
}

/*底部*/
.bottom{
    width:100%;
    padding:32px 16px 0 ;
    background-color: #333333;

}
.bottom ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%  ;
    justify-content: center;
    border-bottom: 1px solid white;
    padding-bottom: 20px;

}

.bottom ul li{
    width: 20%  ;
    color: white;
    padding:0 16px ;

}
.bottom ul li h2{
    font-size: 20px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.bottom ul li p{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;

}

.bottom .box{
    color: white;
    text-align: center;
    padding: 5px;

}





/*小小瓶*/
@media screen and (min-width:0px){
    .title .bigBox{
        background-color: blue;
        justify-content: space-between;
        align-items: center;

    }
    .title .box1 img{
        margin-left: 12px;
    }

    .title .bigBox .icon{
        display: block;
    }

    .title .bigBox .box2{
        display: none;
    }

    .imgBox{
        width: 100%;

    }
    .imgBox .null{
        width:100%;

    }

    /*地图文字*/
    .drtextBox{
        width: 100%;
    }

    .ditu{
        width: 100%;
    }

    .ditubox{
        width: 100%;
    }
    .ditubox ul li{
        width: 100%;
    }
    .user{
        width:100%;
    }
    .user .leftBox{
        width:100%;
    }
    .user .rightBox{
        width:100%;
    }
    /*预约*/

    .bespeak{
        width: 100%;

    }


    .bespeak .box{
        width:100%;
    }


    /*底部*/
    .bottom ul li{
        width: 100%  ;


    }


}


/*标题单独*/
@media screen and (min-width:546px){
    /*标题*/
    .bTitle img{
        width: 546px;
        height: 44px;
    }

}



/* 平板:小屏幕 col-sm-   >768px */
@media screen and (min-width:768px){
    .title .bigBox{
        background-color: white;

    }
    .title .box1 img{
        margin:8px auto 8px;
    }
    .title .bigBox{
        width: 100%;
    }
    .title .bigBox .box2{
        padding:0 10px;

    }
    .title .bigBox .icon{
        display: none;
    }
    .title .bigBox .box2{
        display: block;
    }

    .ditubox ul li{
        width: 49%;
    }
    .user .leftBox{
        width:50%;
    }
    .user .rightBox{
        width: 50%;
    }
    /*banner*/
    .banner {

        height: 400px;
    }

    /*banner*/
    .banner .con h1{

        font-size:72px;
    }

    .banner .con h3{

        font-size:34px;
    }

    .banner .con .box{

        font-size: 28px;

    }




    /*预约*/
    .bespeak .box{
        width: 33.33%;
    }

    /*底部*/
    .bottom ul li{
        width: 20%  ;


    }













}


/* PC屏幕:普通屏幕 col-md-   >992px */
@media screen and (min-width:992px){
    .title .bigBox{
        width: 100%;
    }
    .title .bigBox .box2{
        padding:0 10px;

    }

    /*banner*/
    .banner {

        height: 525px;
    }

}










/* PC屏幕:普通屏幕 col-lg-   >1200px */
@media screen and (min-width:1200px) {
    .title .bigBox {
        width: 1200px;
        display: flex;

    }

    .title .bigBox .box2 {
        padding: 0 22px;

    }

    /*预约*/
    .bespeak {
        width: 1200px;

    }
    /*图片盒子*/
    .imgBox{
        width: 1200px;

    }
    /*地图文字*/
    .drtextBox {
        width: 1160px;
    }

    .ditu {
        width: 1160px;
    }

    .ditubox {
        width: 1160px;
    }

    .user {
        width: 1160px;
    }
    .imgBox .null{
        width: calc(100% - 180px);

    }

}




